.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1040px;
  height: 77px;

  h2 {
    font-size: 2.25rem;
    color: #ff6060;
    font-weight: 500;
    margin: 0;
  }
  p {
    font-size: 1.125rem;
    color: black;
    margin: 0;
  }
}
