@import "../../assets/medias.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 65px;
  width: 100%;
  @include tab {
    height: 40px;
  }

  .hostName {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 80%;
    height: 90%;
    color: #ff6060;

    font-size: 17px;
    padding-right: 10px;
    @include tab {
      height: 33px;
      font-size: 15px;
    }
    @include xs {
      height: 33px;
      font-size: 12px;
    }
    .firstName {
      font-weight: 400;
      margin: 0;
    }
    .lastName {
      font-weight: 400;
      margin: 0;
    }
  }

  .pictureContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    overflow: hidden;
    @include xs {
      width: 32px;
      height: 32px;
    }

    .picture {
      width: 64px;
      height: 64px;
      object-fit: cover;
      @include xs {
        width: 32px;
        height: 32px;
      }
    }
  }
}
