@import "../../assets/medias.scss";
.collapse {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.titleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  color: white;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: border-radius 0.3s ease-in-out;

  &.openTc {
    border-radius: 5px;
  }
  @include xs {
    height: 30px;
    border-radius: 5px;
  }

  h2 {
    width: 95%;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    @include xs {
      font-size: 0.8rem;
    }
  }

  .chevron {
    transition: transform 0.3s ease;
    @include xs {
      width: 15px;
      height: 10px;
    }
  }
}

.contentContainer {
  max-height: 0;
  overflow: hidden;
  background-color: #f9f9f9;
  border-radius: 5px;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 20px;
  font-size: 1.1rem;
  font-weight: 330;

  &.open {
    max-height: 200px;
    padding-top: 15px;
    padding-bottom: 20px;
    @include xs {
      padding-bottom: 15px;
    }
  }

  .content {
    margin: 0;
    color: black;
    line-height: 1.5;
    @include xs {
      font-size: 12px;
    }
  }
}
