@import "../../assets/medias.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto 0;
  @include xxl {
    padding-left: clamp(20px, 5vw, 40px);
    padding-right: clamp(20px, 5vw, 40px);
  }
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  height: 50px;
  margin: 40px 0;
  @include xxl {
    margin: clamp(20px, 5vw, 40px) auto;
  }

  img {
    width: clamp(145px, 20vw, 210px);
    height: auto;
    margin: 0;
  }

  nav {
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    margin: 0;
    @include xs {
      gap: 15px;
    }

    .navLink {
      color: black;
      font-size: clamp(12px, 2.5vw, 24px);
      text-decoration: none;
      text-transform: capitalize;
      padding-bottom: 1px;
      &.active {
        border-bottom: 2px solid black;
        @include tab {
          border-bottom: 1px solid black;
        }
      }
      @include tab {
        text-transform: uppercase;
        padding-bottom: 0.2px;
      }
    }
  }
}
