@import "../../assets/medias.scss";

.container {
  position: relative;
  max-width: 1240px;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include tab {
    border-radius: 15px;
  }
  @include xs {
    height: 255px;
    border-radius: 10px;
  }

  .nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    .arrowsContainer {
      width: 100%;
      padding: 130px 20px;
      display: flex;
      justify-content: space-between;
      @include tab {
        padding-top: 170px;
        padding-bottom: 125px;
      }
      @include xs {
        padding: 100px 10px 90px;
      }

      img {
        @include tab {
          width: 20px;
          height: 50px;
        }
        @include xs {
          width: 10px;
          height: 20px;
        }
      }
    }
    .counter {
      width: 100%;
      display: flex;
      justify-content: center;
      color: white;
      font-size: 18px;
      font-weight: 400;
      @include xs {
        display: none;
      }
    }
  }
  .pictures {
    position: absolute;
    object-fit: cover;
    display: flex;
    justify-content: center;
    width: 1240px;
    @include xs {
      height: 435px;
    }
    img {
      width: 100%;
      height: 105%;
      object-fit: cover;
      transform: scale(1.1);
      @include xs {
        object-fit: contain;
      }
    }
  }
}
