$res: calc(0.01 * 10vmin);

.hero {
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 223px;
    border-radius: 25px;
    overflow: hidden;

    &.shadow {
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .homeImg {
    filter: brightness(40%);
  }

  .aboutImg {
    filter: brightness(60%);
  }

  h1 {
    position: absolute;
    font-size: 48 * $res;
    color: white;
    padding: 25px;
    z-index: 2;
  }
}
