@import "../../assets/medias.scss";

.banner {
  box-sizing: border-box;
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 clamp(20px, 5vw, 40px);

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1240px;
    height: 223px;
    border-radius: 25px;
    margin: auto 20p;

    @include tab {
      height: 162px;
    }

    @include xs {
      height: 111px;
      margin: 0;
    }

    &.shadow {
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    img {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      border-radius: 25px;
      @include tab {
        border-radius: 15px;
      }
      @include xs {
        border-radius: 10px;
      }
    }

    .homeImg {
      filter: brightness(40%);
    }

    .aboutImg {
      filter: brightness(70%);
    }

    h1 {
      position: absolute;
      font-size: clamp(24px, 5vw, 48px);
      color: white;
      padding: 25px;
      z-index: 2;
      @include xs {
        font-size: 24px;
        padding-left: 162px;
        margin-right: 255px;
        margin-left: 40px;
        width: 418px;
      }
    }
  }
}
